@using WebDTDD.Models
@model IEnumerable<WebDTDD.Models.SanPham>
@{
    ViewBag.Title = "getTimKiem";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    NguoiDung kh = (NguoiDung)Session["TaiKhoan"];
}
<br />
<div class="col-sm-6" style="left: 200px; font-size: 30px">@ViewBag.Thongbao</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img src="@item.HinhSP1" alt="">
                        </div>
                        <h2><a href="@Url.Action("ProductDetail", "Shop", new { @id = item.IdSP})">@item.TenSP - @item.BoNho</a></h2>
                        <div class="product-carousel-price">
                            <ins>@String.Format("{0:0,0đ}", item.GiaSP.Value)</ins>
                        </div>
                        @if (kh == null)
                        {
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@Url.Action("DangNhap", "User", new { @id = item.IdSP, @strURL = Request.Url.ToString() })">Giỏ hàng</a>
                            </div>

                        }
                        else
                        {
                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@Url.Action("ThemGioHang", "Cart", new { @id = item.IdSP, @strURL = Request.Url.ToString() })">Giỏ hàng</a>
                            </div>
                        }
                    </div>
                </div>
            }


        </div>

    </div>
</div>
