@model IEnumerable<WebDTDD.Models.SanPham>

@{
    ViewBag.Title = "ListSP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Bootstrap Part5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <!--Bootstrap Table using .table-bordered class-->
        <table class="table table-bordered">
            <thead style="background: #007acc">
                <tr style="color:aliceblue">
                    <th><strong>Tên sản phẩm</strong></th>
                    <th><strong>Bộ nhớ</strong></th>
                    <th><strong>Nhà sản xuất</strong></th>
                    <th><strong>Số lượng tồn</strong></th>
                    <th><strong>Giá</strong></th>
                    <th><strong>Tùy chọn</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="color: black">
                        <td>@item.TenSP</td>
                        <td>@item.BoNho</td>
                        <td>
                            @if (@item.MaNSX == 1)
                            {
                                <p>Apple</p>
                            }
                            else if (@item.MaNSX == 2)
                            {
                                <p>Samsung</p>

                            }
                            else if (@item.MaNSX == 3)
                            {
                                <p>Xiaomi</p>

                            }
                            else if (@item.MaNSX == 4)
                            {
                                <p>Oppo</p>

                            }
                            else
                            {
                                <p>Vivo</p>

                            }
                        </td>
                        <td>@item.SLTon</td>
                        <td>@String.Format("{0:0,0đ}", item.GiaSP.Value)</td>
                        <td>
                            <a href="@Url.Action("EditProduct","Admin",new { id = item.IdSP })" style="color:green"><i class="bi bi-person-lines-fill"> Chỉnh sửa</i> </a>
                            |
                            <a href="@Url.Action("DeleteProduct","Admin",new { id = item.IdSP })" style="color:#ff0000"><i "bi bi-trash3-fill"> Xóa</i> </a>
                        </td>
                    </tr>
                }
            </tbody>

    </div>
    </table>
    </div>
    <script src="~/Content/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>